@(message: String)

@import tags._

@main("rageCrate") {

    <h1>RageCrate Sample</h1>
    <div class="jumbotron-fluid">
        <h1>This page will contain the splash screen and handle the mailing list handling</h1>
    </div>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>The Big Picture</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
                </div>
            </div>
                <!-- /.row -->
        </div>
        <!-- /.container -->

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
}

